* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    outline: none;
    font-family: Samim;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: inline-flex;
}

@font-face {
    font-family: Samim;
    src: url("../fonts/Samim.woff");
}

.m-t-1 {
    margin-top: 60px;
}
.p-t-b{
    padding: 30px 0 30px 0;
}

.relative {
    position: relative;
}

/*nav*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.top-nav {
    display: flex;
}

.top-nav li {
    margin-right: 30px;

}

.top-nav li a {
    transition: all .2s;
    color: black;
}

.top-nav li a:hover {
    color: dimgray;
    border-bottom: 1px solid gray;
}

.logo img {
    width: 120px;
    margin: 5px 0 0 30px;
    filter: grayscale(20%);
}

/*header*/
.header-image {
    background-image: url("../img/header.jpg");
    background-size: cover;
    width: 100%;
    height: 60vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(172, 163, 163, 0.7);
    padding: 30px;
    border-radius: 50px 20px 50px 20px;
}

.header-topic {
    color: #3d3d3d;
    font-size: 39px;
}

.search-input {
    margin-top: 24px;
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
}

.search-btn {
    border: none;
    background: rgba(30, 27, 27, 0.9);
    padding: 5px 20px;
    border-radius: 40px;
    color: white;
    transition: background .5s;
}

.search-btn:hover {
    background: rgba(30, 27, 27, 0.8);
}

/*main*/
.bg-main {
    padding-top: 1px;
    background-color: #fcfcfb;
}

.topic {
    text-align: center;
    color: #2d3436;
}

.main-1 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
    border-bottom: 2px solid #84817a;

}

.main-1 div img {
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 19px 1px #535c68;
}

.card {
    perspective: 1000px;

}

.content {
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.bullet {
    list-style: square;
}

.bullet p {
    width: 200px;
}

.headlines {
    background: rgba(219, 199, 199, 0.9);
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.web-design li:nth-child(7) {
    margin-top: 15px;
    text-align: center;
}

.w-press li:nth-child(7) {
    margin-top: 15px;
    text-align: center;
}

.android li:nth-child(5) {
    margin-top: 15px;
    text-align: center;
}

.btn {
    padding: 6px 30px;
    background-color: #504d4ec7;
    border-radius: 20px;
    color: white;
    transition: opacity .4s;
    box-shadow: -2px 1px 11px 1px #535c68;
}

.btn:hover {
    opacity: .8;
}

/*main--2*/

.main-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
    border-bottom: 2px solid #84817a;
}

.cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50vh;
    border: 2px solid #84817a;
    border-radius: 10px;
    background-color: #d1ccc0;
    transition: all .5s;
}

.cadre:hover {
    box-shadow: 1px 1px 19px 1px #535c68;
}

.cadre h3 {
    width: 90%;
    height: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadre p {
    margin: 20px 0 20px 0;
    width: 80%;
    height: 50%;
    text-align: justify;
    background: rgba(172, 163, 163, 0.7);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/
.bg-footer {
    background-color: #1e272e;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div h3 {
    border-bottom: 1px solid snow;
}

footer div a, footer div h3 {
    color: #f1f2f6;
    text-align: center;
}

footer div a{
    transition: padding-right .5s,color .3s;
}
footer div a:hover{
    padding-right:3px ;
    color: #ffeaa7;
}
footer div img{
    width: 150px;
    cursor: pointer;
}

.social{
    display: flex;
    justify-content: space-between;
}
.social div i{
    cursor: pointer;
    font-size: 24px;
}

.social div:nth-child(1){
    color:  #1e90ff;
    animation: telegram 1s ease-in-out infinite alternate;
}

.social div:nth-child(2){
    color:  #70a1ff;
    animation: twitter 1.4s ease-out infinite  alternate;
}


.social div:nth-child(3) {
    color: #2ed573;
    animation: whatsapp 1.7s ease-in infinite  alternate;
}
@keyframes telegram {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

@keyframes twitter {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

@keyframes whatsapp {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

@media screen and (max-width: 700px) {
    nav,header,.main-1,footer{
        flex: 100%;
        flex-direction: column;
    }
.main-2{
    flex-direction: column;
   align-content: stretch;
}
    .cadre p, .cadre h3{
        flex: 100%;
        height: 100vh;
        flex-direction: row;
    }
    .card{
        flex-direction: column;
        flex: 100%;
        text-align: center;
    }

}
@media screen and (min-width: 500px) and (max-width: 700px) {
    .card{
        margin: 0 auto;
    }
    .cadre{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 60vh;
    }
   footer div:first-child{
       margin-bottom: 20px;
   }

}
